
.col {
  width: 100%;
  padding: 2px;
}

.col img {
  width: 100%;
  border: 1px solid #000;
  margin: 1px;
}

@media screen and (min-width: 600px) {
  .col {
    width: 50%;
  }
}

@media screen and (min-width: 900px) {
  .col {
    width: 33%;
  }
}

#title {
  text-align: right;
  font-size: 2em;
}