* {
    box-sizing: border-box;
} 


body {
    background-color: #d3d3d3;
    margin: 0 10%;
}


@media screen and (min-width: 1000px){
     .conteiner {
        width: 70%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 760px){    
    .col {
        float: left;
        width: calc(100%/3 - 3%);
        margin: 10px;
        height: 224px;
        cursor: pointer;
    }


    .name {
        font-size: 300%;
    }
}

@media screen and (max-width: 500px){ 
    .col {
        float: left;
        width: calc(100%/2 - 10%);
         

    }


    .name {
        font-size: 120%;
    }
}


@media screen and (max-width: 760px){      
    #main {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    
    .fig-project {
        display: none;
    }


    .col {
        float: left;
        width: calc(100%/2 - 10%);
    }


    .name {
        font-size: 205%;
    }
    

    .the-central-img  {
       margin-right: -8%;
    }
}

/* Header */

.header {
    display: flex;  
    margin: 0;  
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 1px;
}


.name {
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: right;
}


.logo {       
    width: 105px;
    margin-left: -15px;
}

/* Content */

hr {
    border: 2px solid #7d97ad;
}


h3 {
    font-size: 200%;
}


h2 {
    margin-top: 3px;
    font-size: 100%;
    margin-bottom: 0px;
}


.main-img {         
    max-width: 100%;
}


.function {
    padding-top: 0px;
    font-size: 130%;
    margin-bottom: 0px;
    text-align: right;
}


.legend {
    font-size: 80%;
}

.the-centra-limg {
    margin: 0 auto;
    max-width: 100%;
}


.imgFull {
    max-width: 100%;
}
 


.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

 /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 21px 16px;
    background-color: #000;
    border-radius: 10px;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    border-radius: 10px;
    background-color: #000;
    color: white;
}